{% extends "main.html" %}

{% block title %}{{ day_entry }}{% endblock %}

{%block main %}
<div class="epage">

<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/react.js') }}"></script>
<script src="{{ url_for('static', filename='js/react-dom.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/remarkable.min.js') }}"></script>

<!-- title -->
<div class="header">
  <img src=/static/image/main.png width=48 height=48>
</div>

<div id="content">
</div>

<div>
{% for i in range(36) %}
<br />
{% endfor %}
</div>

<script type="text/babel" src="{{ url_for('static', filename='js/day.js') }}"></script>

{% endblock %}
