{% extends "main.html" %}

{% block title %}{{ day_entry }}{% endblock %}

{%block main %}
<div class="epage">

<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
{% block javascript %}
<script type="text/javascript">
{% include "entry.js" %}
</script>
{% endblock %}

<!-- title -->
<div class="header">
  <img src=/static/image/main.png width=48 height=48>
</div>

<!-- category links -->
<div>
<ul class="category">
{% for (category, _) in entries.items() %}
  <li class="link" id="clink{{ loop.index }}"><a href="tab{{ loop.index }}">{{ category }}</a></li>
{% endfor %}
</ul>
</div>

<hr class="ehr" />

<!-- side -->
<div class="side">
<h2>导航</h2>
<ul>
<li><h3>/d/Y-M-D: 按日期显示文章</h3></li>
<li><h3>/l/p: 所有订阅源</h3></li>
<li><h3>/f/atom: 添加rss订阅源</h3></li>
<li><h3>/f/blog: 添加blog订阅源</h3></li>
</ul>

<hr class="ehr" />

<h2>声明</h2>
<ul>
<li><h3>所有文章标题处均附有原文链接</h3></li>
<li><h3>所有内容来自互联网，任何商业用途请联系原作者</h3></li>
</ul>

<hr class="ehr" />

<h2>Spider</h2>
<ul>
<li>
<div class="submitsection">
<h3>添加rss源，支持rss与atom</h3>
<a class="submit" href="/f/atom" target="_blank">生成RSS Spider</a>
</div>
</li>

<li>
<div class="submitsection">
<h3>添加blog,用于没有rss输出的blog</h3>
<a class="submit" href="/f/blog" target="_blank">生成Blog Spider </a>
</div>
</li>
</ul>

</div>
<!-- side -->

<!-- content -->
<div class="content">

{% for (category, articles) in entries.items() %}
<!-- category page -->
<div id="tab{{ loop.index }}">

{% for article in articles %}
<!-- entry -->
<div class="entry">

<span class="rank">{{ loop.index }}</span>

<!--
<div class="vote">
  <a href="{{ article.id }}"><i class="fa fa-thumbs-o-up"></i></a>
</div>
-->

<div class="text">

<div>
<p class="title"><a href="/a/{{ article.id }}" target="_blank">{{ article.title|safe }}</a><span class="orglink"><a href="{{ article.link }}" target="_blank"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></span><span class="domain">(<a href="#">{{ article.domain }}</a>)</span></p>
</div>

<div class="bottom">

<ul>
{% if article.source %}
<li class="spider">
<a href={{ article.spider }}>[{{ article.source }}]</a>
{% endif %}
</li>

{%if article.tag %}
{% for t in article.tag %}
<li class="tag">{{ t }} </li>
{% endfor %}
{% endif %}
</ul>

</div> <!--bottom -->

</div> <!-- text -->

<div class="clearleft"></div>
</div>
<!-- entry -->

<div class="clearleft"></div>
{% endfor %}
</div>
<!-- category page -->

{% endfor %}
</div>
<!-- content -->


<hr class="ehr" />

<div class="daylink">

<span class="handleft">
{% if link_day_after %}
  <a href="{{ link_day_after }}"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
{% else %}
  <i class="fa fa-hand-o-left" aria-hidden="true"></i>
{% endif %}
</span>

<span class="handright">
{% if link_day_before %}
  <a href="{{ link_day_before }}"><i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
{% else %}
  <i class="fa fa-hand-o-right" aria-hidden="true"></i>
{% endif %}
</span>

</div> <!-- daylink -->

<div>
{% for i in range(36) %}
<br />
{% endfor %}
</div>

</div><!-- epage -->


{% endblock %}
