{% extends "main.html" %}
{% block title %}{{ spider.source }}{% endblock %}
{% block main %}

<div class="sppage">

<div>
<h1 class="title">{{ spider.source }}</h1>
<hr class="ehr"></hr>
</div>

<ul id="alist">
{% for i in entries %}
<li><h3><a href="/a/{{ i['id'] }}">{{ i['title']|e }}</a></h3></li>
{% endfor %}
</ul>

<hr class="ehr"></hr>

<div class="splink">
<span class="handleft">
{% if not entry_begin %}
<a href="/p/{{ spider.id }}?aid={{ aid_begin }}&q=p"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
{% else %}
<i class="fa fa-hand-o-left" aria-hidden="true"></i>
{% endif %}
</span>

<span class="handright">
{% if not entry_end %}
  <a href="/p/{{ spider.id }}?aid={{ aid_end }}&q=n"><i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
{% else %}
  <i class="fa fa-hand-o-right" aria-hidden="true"></i>
{% endif %}
</span>
</div>

<div>
{%- for i in range(36) -%}
  <br />
{% endfor %}
</div>

</div>
{% endblock %}
