/*
 * font
 */
@font-face      { font-family: 'Source Code Pro';
                  font-style: lighter;
                  font-weight: lighter;
                  src: url('/fonts/SourceCodePro-Light.ttf') format('truetype');}

@font-face      { font-family: 'Source Code Pro';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Source Code Pro';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/SourceCodePro-Bold.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: lighter;
                  font-weight: lighter;
                  src: url('/fonts/Nunito-Light.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/Nunito-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/Nunito-Bold.ttf') format('truetype');}

@font-face      { font-family: 'Playball';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/Playball-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Orbitron';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/Orbitron-Bold.ttf') format('truetype');}

/*
 *
 */
.sppage,
.epage {
}

.epage,
.sppage,
.feedpage,
.page {
 font-size: 100%;
 background: #FFFFFF;
 margin: 0em auto;
}

a {
 color: #004276;
 white-space: pre-wrap;
}

.header {
 text-align: center;
 margin-top: 2em;
 margin-bottom: 0em;
}

/*
 * media
 */
@media screen and (min-device-width: 600px) {
 .feedpage {
  width: 40em;
 }
 
 .page {
  width: 48em;
 }

 h1#atitle a {
  font-size: 0.7em;
  font-weight: 800;
  line-height: 1.4em;
  margin-bottom: 1em; 
 }

 #article img {
  max-width: 34em;
 }

 article[lang="en"] #article {
  font-weight: normal;
 }

 article[lang="zh"] #article {
  font-weight: lighter;
 }
}

@media screen and (max-device-width: 599px) {
 .page {
  width: 100%;
 }

 h1#atitle a {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 1.6em; 
 }


 #article {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
 }
}
		 
/*
 * article page
 */
.ahr {
 border: none;
 height: 6px;
 color: #EEE;
 background-color: #EEE;
 margin-bottom: 1em;
 clear: both;
}

article .footer {
 font-size: x-small;
 color: #888;
 text-align: center;
}

article .vote {
 text-align: center;
}

article .vote a {
 color: #999999;
}

article .vote a.voted {
 color: #004276;
}

article .spider a {
 color: #666;
 font-size: 1em;
 font-weight: bold;
}

article .spider A {
 text-decoration: none;
}

article .title {
 font-weight: bold;
 text-align: center; 
 font-family: 'Nunito', 'Lantinghei SC', 'Microsoft YaHei', 'sans-serif';
}

article .title	A {
 color: #2C1D00; 
 text-decoration: none;
}

article[lang="en"] #article {
 font-family: 'Nunito', 'sans-serif' !important;
 line-height: 1.8em;
 font-size: 1.1em;
}

article[lang="zh"] #article {
 font-family: 'Lantinghei SC', 'Microsoft YaHei', 'sans-serif' !important;
 line-height: 2.0em;
 font-size: 0.95em;
}

article #article {
 color: #33290A;
 margin-left: 1em;
 margin-right: 1em;
}

#article img {
 height: auto;
}

#article h1 {
 font-weight: bold;
 font-size: 1.2em;
}

#article h2,
#article h3 {
 font-size: 1em;
}

#article img {
  max-width: 100%;
}

#article strong,
#article b {
 font-weight: normal;
}

figcaption {
 font-size: 0.6em;
}

blockquote {
 margin-left: 0em;
 margin-right: 0em;
}

pre {
 border: none;
 white-space: pre-wrap;
 margin: 0 auto;
 background-color: #fafafa;
 padding-top: 0.1em;
 padding-bottom: 0.1em;
 font-size: 1em;
 font-weight: lighter;
 line-height: 1.6em;
 overflow-x: auto;
 width: 100%;
 font-family: 'Source Code Pro';
}

table {
 border: 1px solid #ddd;
 width: 100%;
 border-collapse: collapse;
}

th,
td {
 border: 1px solid #ddd;
 white-space: nowrap;
}

th {
 text-align: center;
}

/*
*  entry page
*/
.ehr {
 border: none;
 height: 1px;
 color: #EEE;
 background-color: #EEE;
 margin-bottom: 1em;
 clear: both;
}

.category {
 list-style: none;
 margin-bottom: 0em;
 margin-left: 2em;
}

.category .link {
 display: inline-block;
 margin-right: 1.6em;
}

.category .link a {
 font-family: 'Pingfang SC', 'Microsoft YaHei';
 font-weight: bold;
 font-size: 1.0em;
 color: #666666;
}

.category .active a {
 color: #222222;
}

.category .link A {
 text-decoration: none;
}

/* side */
.side {
 display: block;
 float: right;
 width: 300px;
 padding: 0 32px;
 font-family: sans-serif;
 font-color: dimgray;
}

.side > h2,
.submitsection > h2 {
 font-size: small;
 font-weight: bold;
}

.side li {
 font-size: x-small;
 font-weight: lighter;
 color: dimgray;
}

.submit {
  background-color: #eff6fa;
  border: 0.1em solid #eff6fa;
  border-radius: 0.4em;
  box-sizing: border-box;
  color: #259;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: 3em;
  width: 92%;
  letter-spacing: 0.1rem;
  line-height: 3em;
  padding: 1 4em;
  text-align: center;
  text-decoration: none;
}

.clearleft {
 clear: left;
 height: 0px;
}

/* content */
.content {
 display: block;
 z-index: 1;
}

.entry {
 display: block;
 overflow: hidden;
 list-style-type: none;
 padding: 0;
 margin: 0.8em 0em;
}

.entry .rank {
 float: left;
 color: #c6c6c6;
 text-align: right;
 font-family: arial;
 font-size: medium;
 font-weight: bold;
 overflow: hidden;
 width: 4em;
 padding-right: 2em;
 padding-left: 1em;
 margin-top: 1.2em;
 margin-left: -2em;
}

.entry .vote {
 float: left;
 width: 2em;
 overflow: hidden;
 padding-top: 1.5em;
 margin-left: 3em;
 margin-right: 1em;
}

.entry .vote a {
 color: #999999;
}

.entry .vote a.voted {
 color: #004276;
}

.entry .text {
 display: block;
 overflow: hidden;
 list-style-type: none;
}

.entry .title {
 display: block;
 overflow: hidden;
 padding: 0;
 margin: 3px 0;
}

.entry .title a {
 font-family: verdana,helvetica,'Pingfang SC','Microsoft YaHei',arial, sans-serif;
 font-size: 0.9em;
 font-weight: normal;
 color: blue;
}

.entry .title A {
 text-decoration: none;
}

.entry .title a:visited {
 color: #551a8b;
}

.entry .orglink {
 padding: 0 6px;
 font-size: x-small;
}

.entry .domain {
 color: #888;
 font-size: x-small;
 white-space: nowrap;
 padding: 0 1px;
}

.entry .domain a {
 color: #888;
 display: inline-block;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 vertical-align: middle;
}

.entry .domain a:visited {
 color: #888;
}

.entry .bottom {
 display: block;
}

.entry .bottom ul {
 display: inline-block;
 list-style-type: none;
 padding: 0;
 margin: 0;
}

.entry .bottom li {
 list-style-position:inside;
 display: inline-block;
 margin-bottom: 0.2em;
 font-size: x-small;
}

.entry .bottom li.spider {
 margin-right: 1em;
}

.entry .bottom li.spider a {
 font-weight: bold;
 color: #999;
}

.entry .bottom li.tag {
 color: #999;
 background-color: #eee;
 border-radius: 30px;
 padding: 1px 10px 0;
 white-space: nowrap;
 margin: 0;
 font-weight: normal;
}

.splink,
.daylink {
 padding-left: 40%;
 padding-right: 40%;
}

.handleft {
 float: left;
}

.handright {
 float: right;
}

/*
 * atom blog page
 */
.feedpage .title {
 text-align: center;
}

fieldset {
 border-width: 0;
 padding: 0;
}

label {
 font-size: 1.0em;
 font-weight: bold;
 margin-bottom: 0.5em;
 display: block;
}

.feed {
 margin-left: 1em;
}

.post {
 border-width: 0;
 padding: 0;
}

.edit {
 background-color: transparent;
 border: 0.1rem solid #d1d1d1;
 border-radius: 1px;
 box-shadow: none;
 box-sizing: border-box;
 height: 3.2em;
 width: 42em;
 margin: 0em 0em 1.2em 0em;
 display: block;
}

.edit:focus {
 border-color: #51a7e8;
 box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.075), 0px 0px 0px rgba(81, 167, 232, 0.5);
}

.button {
 background-color: transparent;
 border: 0.1rem solid #d1d1d1;
 border-radius: 0.4rem;
 box-sizing: border-box;
 cursor: pointer;
 display: inline-block;
 font-size: 0.4rem;
 font-weight: 700;
 height: 3.2em;
 letter-spacing: 0.3em;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 white-space: nowrap;
}

.button:focus {
 background-color: transparent;
 border-color: #51a7e8;
 outline: 0;
}

.errmsg {
 text-align: center;
 font-size: 0.5em;
 color: #888;
 margin-bottom: 1em;
}

/*
 * spider page
 */

.spspage .title,
.sppage .title {
 font-family: 'Nunito', 'Lantinghei SC', 'Microsoft YaHei';
 font-size: normal;
 font-weight: bold;
 text-align: center;
}

/*
 * spiders page
 */
.spspage .title {
 text-align: center;
}

/*
 * 
 */
#alist,
#clist {
 list-style: square; 
 color: red;
}

#clist {
 margin-left: 6em;
}

#alist {
 margin-left: 4em;
}

#clist li {
 line-height: 1em;
}

#alist a,
#clist a {
 font-weight: 600;
 font-size: 0.7em;
 font-family: 'Nunito', 'Lantinghei SC', 'Microsoft YaHei';
}

#alist a {
 font-size: normal;
 line-height: 1.8em;
}

#clist a {
 font-size: normal;
 line-height: 2.4em;
}

#alist a:visited,
#clist a:visited {
 color: #AAAAAA;
}

#alist A,
#clist A {
 text-decoration: none;
}

#alist li {
 margin-bottom: -0.8em;
}


/*
 * react
 */

.articlelink a {
	color: blue;
}

.articlelink a:visited {
	color: #551a8b;
}

.articlelink A {
	text-decoration: none;
}
