/*
 * font
 */
@font-face      { font-family: 'Source Code Pro';
                  font-style: lighter;
                  font-weight: lighter;
                  src: url('/fonts/SourceCodePro-Light.ttf') format('truetype');}

@font-face      { font-family: 'Source Code Pro';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Source Code Pro';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/SourceCodePro-Bold.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: lighter;
                  font-weight: lighter;
                  src: url('/fonts/Nunito-Light.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/Nunito-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Nunito';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/Nunito-Bold.ttf') format('truetype');}

/*
@font-face      { font-family: 'Playball';
                  font-style: normal;
                  font-weight: normal;
                  src: url('/fonts/Playball-Regular.ttf') format('truetype');}

@font-face      { font-family: 'Orbitron';
                  font-style: bold;
                  font-weight: bold;
                  src: url('/fonts/Orbitron-Bold.ttf') format('truetype');}
*/

/*
 *
 */
.page {
 font-size: 100%;
 background: #FFFFFF;
 margin: 0em auto;
}

a {
 color: #004276;
 white-space: pre-wrap;
}

.header {
 text-align: center;
 margin-top: 2em;
 margin-bottom: 0em;
}

/*
 * media
 */
@media screen and (min-device-width: 600px) {
 .page {
  width: 48em;
 }

 h1#atitle a {
  font-size: 0.7em;
  font-weight: 800;
  line-height: 1.4em;
  margin-bottom: 1em; 
 }

 #article img {
  max-width: 34em;
 }
}

@media screen and (max-device-width: 599px) {
 .page {
  width: 100%;
 }

 h1#atitle a {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 1.6em; 
 }

 #article {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
 }
}
		 
/*
 * article page
 */
.ahr {
 border: none;
 height: 6px;
 color: #EEE;
 background-color: #EEE;
 margin-bottom: 1em;
 clear: both;
}

article .footer {
 font-size: x-small;
 color: #888;
 text-align: center;
}

article .vote {
 text-align: center;
}

article .vote a {
 color: #999999;
}

article .vote a.voted {
 color: #004276;
}

article .spider a {
 color: #666;
 font-size: 1em;
 font-weight: bold;
}

article .spider A {
 text-decoration: none;
}

article .title {
 font-weight: bold;
 text-align: center; 
 font-family: 'Nunito', 'Lantinghei SC', 'Microsoft YaHei', 'sans-serif';
}

article .title	A {
 color: #2C1D00; 
 text-decoration: none;
}

article[lang="en"] #article {
 font-family: 'Nunito', 'sans-serif' !important;
 line-height: 1.8em;
 font-size: 1.1em;
}

article[lang="zh"] #article {
 font-family: 'Pingfang SC', 'Microsoft YaHei', 'sans-serif' !important;
 line-height: 2.0em;
 font-size: 0.95em;
}

article #article {
 color: #33290A;
 margin-left: 1em;
 margin-right: 1em;
}

#article img {
 height: auto;
}

#article h1 {
 font-weight: bold;
 font-size: 1.2em;
}

#article h2,
#article h3 {
 font-size: 1em;
}

#article strong,
#article b {
 font-weight: normal;
}

figcaption {
 font-size: 0.6em;
}

blockquote {
 margin-left: 0em;
 margin-right: 0em;
}

pre {
 border: none;
 white-space: pre-wrap;
 margin: 0 auto;
 background-color: #fafafa;
 padding-top: 0.1em;
 padding-bottom: 0.1em;
 font-size: 1em;
 font-weight: lighter;
 line-height: 1.6em;
 overflow-x: auto;
 width: 100%;
 font-family: 'Source Code Pro';
}

table {
 border: 1px solid #ddd;
 width: 100%;
 border-collapse: collapse;
}

th,
td {
 border: 1px solid #ddd;
 white-space: nowrap;
}

th {
 text-align: center;
}

/*
 * day page
 */
.articlelink a {
	color: blue;
}

.articlelink a:visited {
	color: #551a8b;
}

.articlelink A {
	text-decoration: none;
}

/*
 * feed
 */

.feedpage {
	width: 40em;
 	margin: 0em auto;
	background: "#FFFFFF";
}

.spentries a:visited {
	color: #aaa;
}

.spiders a:visited {
	color: #aaa;
}
