pytz>dev
billiard>=3.3.0.23,<3.4
kombu>=3.0.35,<3.1
amqp
anyjson
attrs
celery
cffi
characteristic
click
cryptography
cssselect
enum34
Flask
idna
ipaddress
itsdangerous
Jinja2
lxml
MarkupSafe
parsel
Pillow
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pymongo
pyOpenSSL
python-dateutil
queuelib
redis
requests
Scrapy
service-identity
six
Twisted
uWSGI
vine
w3lib
Werkzeug
zope.interface
