<!doctype html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% if sitecss %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/site/{}'.format(sitecss)) }}">
  {% endif %}

  {% if sitescript %}
  {{ sitescript|safe }}
  {% endif %}

  {% if headlist %}
    {%- for item in headlist -%}
    {{ item|safe }}
    {% endfor %}
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133343096-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-133343096-1');
  </script>

</head>

<body>
  {% block main %}{% endblock %}
</body>

</html>
